.bio-wrap {
    width: 100%;
    display: flex;
    padding: 0 25%;
    column-gap: 10%;
    .about-img-wrap {
        max-width: 50%;
        img {
            width: 100%;
        }
    }
    .about-text-wrap {
        width: 50%;
    }
}