<div class="bio-wrap">
    <div class="about-img-wrap">
        <p-galleria [value]="images" [autoPlay]="true" >
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" [alt]="item.alt" />
            </ng-template>
        </p-galleria>
    </div>

    <div class="about-text-wrap">
        <p-card class="about-text-card">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
        </p-card>
    </div>

</div>
